body{

    scroll-behavior: smooth;
}

ul li{

    list-style: none;
}

ul li a{

    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul li a:hover{

    color: white;
    border-bottom: 2px solid white;
}

.carousel-inner img{

    height: 90vh;
}



.services{

    /* border: 1px solid red; */
    height: 100vh;
}

@media screen and (max-width:820px){
    
    .services{
    
        /* border: 1px solid red; */
        height: 100%;
    }

}

.service-cols{

    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
}


.service-cols .card{

    transition: all ease-in-out .3s;
}


.service-cols .card:hover{


    cursor: pointer;
    box-shadow: 10px 10px 15px gray;
    margin-top: -1.5rem;
    rotate: 10deg;

}

.about-img-div{

    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.about-img-div img{

    height: 200px;
    width: 200px;
    border-radius: 100px;
}


.footer{

    height: 100%;
    width: 100vw;
}

.footer-cols{

    /* border: 1px solid white; */
    height: 50vh;
    overflow-y: hidden;
    padding: 1rem;
}

.footer-inner-col{

    /* border: 1px solid red; */
    height: 85%;
}